@import "./theme.scss";

body {
  margin: 0;
  font-family: $bodyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bgColor;
  color: $bodyColor;

  .App {
    box-sizing: border-box;
    padding: 30px;

    header.App-header {
      margin-bottom: 30px;

      h1,
      h4 {
        margin: 0;
      }

      h1.title {
        font-size: 50px;
        margin: 0;
        font-family: $titleFont;
      }

      h4.subtitle {
        font-size: 25px;
        font-family: $accentFont;
        font-weight: 200;
        color: darken($bgColor, 40%);
      }
    }
  }
}
