@import url("https://fonts.googleapis.com/css?family=Orbitron|Reenie+Beanie|Source+Sans+Pro:200&display=swap");

$titleFont: "Orbitron", sans-serif;
$accentFont: "Reenie Beanie", cursive;
$bodyFont: "Source Sans Pro", sans-serif;

$bgColor: #ff5251;
$bodyColor: #fefefe;
